<nav class="mb-5">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/">Home</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/entries">Lançamentos</a>
    </li>
    <li class="breadcrumb-item active">
      {{pageTitle}}
    </li>
  </ol>
</nav>
<div class="row mb-4">
  <div class="col-md-8">
    <h1 class="h2 border-left pl-2">
      {{pageTitle}}
    </h1>
  </div>
  <div class="col-md-4 pl-0">
    <button routerLink="/entries" class="btn btn-secondary float-right">
      << Voltar
    </button>
  </div>
</div>
<form [formGroup]="entryForm">
  <div class="card">
    <div class="card-header">
      Informações sobre o Lançamento
    </div>
    <div class="card-body">
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="name">Nome</label>
          <input type="text" class="form-control" formControlName="name">
          <div class="text-danger" *ngIf="entryForm.controls['name'].touched">
            <span *ngIf="entryForm.controls['name'].hasError('required')">Campo Obrigatório.</span>
            <span *ngIf="entryForm.controls['name'].hasError('minlength') && !entryForm.controls['name'].hasError('required')">Deve conter no mínimo 4 caracteres.</span>
          </div>
        </div>
        <div class="form-group col-md-8">
          <label for="description">Descrição</label>
          <input type="text" class="form-control" formControlName="description">
          <div class="text-danger" *ngIf="entryForm.controls['description'].touched">
            <span *ngIf="entryForm.controls['description'].hasError('required')">Campo Obrigatório.</span>
            <span *ngIf="entryForm.controls['description'].hasError('minlength')">Deve conter no mínimo 4 caracteres.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary btn-lg float-right mt-3" [disabled]="entryForm.invalid || submittingForm" (click)="submitForm()">Salvar</button>
</form>